<ion-view view-title="PROPOSTA DE ADESÃO" cache-view="false">

	<ion-nav-buttons side="left">
    	<button class="button button-icon button-clear icon ion-ios-arrow-back" style="color: white;" ng-click="goBack()">
        </button>
    </ion-nav-buttons>
    
    <ion-content class="top0" >
	    <div class="row row-center" ng-style="{'height': windowHeight}">
	    	<div class="col">
		    	<div class="padding">
				    <button class="button buttonGradient borderStyle" style="text-align: center; padding-bottom: 0px ;     width: 195px;" ng-click="goToNovaProposta()">
					  Nova Proposta
					</button>
				</div>
				<div class="padding">
			        <button class="button buttonGradient borderStyle"  style="text-align: center; padding-bottom: 0px;     width: 195px;" ng-click="goToConsultaProposta()" >
					  Consultar Proposta
					</button>
				</div >
			</div>
        </div>
    </ion-content>
</ion-view>