<ion-view >
    <ion-content class="removeHeader">
        <div class="row row-center" ng-style="{'height': windowHeight}">
            <div class="col welcome-home">
                <div style="margin-top: 10px;">
                    <h3></h3>
                </div>
                <div class="welcome-img-wrapper">
                    <div class="logo_320x160-img" style="background-size: 100% 100%;width: 200px;height: 100px;">

                    </div>
                </div>                
                <div class="padding" style="text-align: center; padding-bottom: 0px;">                    
                    <button class="button buttonLogin borderStyle buttonGradient" ng-click="startConfigLojista()">
                        <i class="lojista_40x40-img"></i>
					  LOJISTA
					</button>
                </div>
                <div class="padding" style="text-align: center; padding-bottom: 0px;">                    
                    <button class="button buttonLogin borderStyle buttonGradient" ng-click="startConfigCliente()">
                        <i class="cliente_40x40-img"></i>
					  CLIENTE
					</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>